/*Colores*/
:root{
  /*Color tipografia*/
    --blanco: 255,255,255;
    --gris: #A0A0A0;
    /*Negro Difumidano*/
    --negro: #000000;
    --negroMate: #1f1f1f;
    --verde:#00FF08;
    --bordes2: white;
    --letras: #1c1c1c;
    /*tablas de colores*/
    --azul: #092635;
    --verdeFuerte: #1B4242;
    --verdeMedio: #5C8374;
    --verdeClaro: #9EC8B9;
    /*Tipo grafais*/
    --tipografia1: "Anta", sans-serif;
    --tipografia2: 'Open Sans', sans-serif;
}
/*titulo*/
.titulo{
    font-family: 'Lobster', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: var(--bordes2);
    text-align: center;

}
/*Fondo de la pagina*/
.fondo-body{
    background-image: url('../images/background.jpg');
  }
  
.imagen-fondo{
  background-color: #00000089;
  width: 1700px; /* Ancho de la imagen */
  height: 800px; /* Alto de la imagen */ 
  padding: 5rem ;
}


/*Seccion de inicio de sesion*/
.cuadro-inicioSesion{
    display:grid;
    justify-content:center;
    padding: 15rem;
}
/*Formulario de inicio de sesion*/
.wrapper {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
  }
  /* switch card */
  .switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  
  .card-side::before {
    position: absolute;
    text-align: center;
    content: 'Iniciar';
    left: -100px;
    right: auto;
    top: 0;
    width: 90px;
    text-decoration: underline;
    color: var(--bordes2);
    font-weight: 600;    
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--bordes2);
    transition: 0.3s;
    background-color: var(--negro);
  }
  
  .card-side::after {
    position: absolute;
    text-align: center;
    content: 'Registrate';
    left: 80px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--bordes2);
    font-weight: 600;    
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--bordes2);
    transition: 0.3s;
    background-color: var(--negro);
  }
  
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 15px;
    right: -2px;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--bordes2);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bordes2);
    box-shadow: 0 3px 0px var(--bordes2);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--negro);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .toggle:checked ~ .card-side:before {
    text-decoration: none;
  }
  
  .toggle:checked ~ .card-side:after {
    text-decoration: underline;
  }
  
  /* card */ 
  
  .flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
      /* width: 100%;
      height: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .toggle:checked ~ .flip-card__inner {
    transform: rotateY(180deg);
  }
  
  .toggle:checked ~ .flip-card__front {
    box-shadow: none;
  }
  
  .flip-card__front, .flip-card__back {
    font-family: var(--tipografia2);
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--negro);
    gap: 20px;
    border: 1px solid var(--bordes2);
    /*box-shadow: 3px 5px var(--negro); sombra*/
    background-color: #161616;
    box-shadow: 0px 5px 5px var(--bordes2);
    outline: 1px solid var(--bordes2);
    border-radius: 10px;
  }

  .flip-card__front{
    left: -15px;
  }
  
  .flip-card__back {
    width: 100%;
    transform: rotateY(180deg);
    right: -8px;
  }
  
  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    font-family: var(--tipografia2);
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--bordes2);
    color: var(--bordes2);
    font-weight: 600;
    font-size: 40px;
  }
  
  .flip-card__input {
    font-family: var(--tipografia2);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    /*border: 1px solid var(--bordes2);
    background-color: var(--negro);
    box-shadow: 4px 4px var(--bordes2);*/
    font-size: 15px;
    font-weight: 600;
    color: var(--bordes2);
    padding: 5px 10px;
    outline: none;
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 8px;
    
  }
  
  .flip-card__input::placeholder {
    color: var(--bordes2);
    opacity: 0.8;
  }
  
  .flip-card__input:focus {
    border: 2px solid var(--bordes2);
  }
  
  .flip-card__btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--bordes2);
    transform: translate(3px, 3px);
  }
  
  .flip-card__btn {
    /*margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--bordes2);
    background-color: var(--negroMate);
    box-shadow: 4px 4px var(--bordes2);
    font-size: 17px;
    font-weight: 600;
    color: var(--bordes2);
    cursor: pointer;*/
    font-family: var(--tipografia2);
    display: block;
    width: 100%;
    color: var(--bordes2);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--bordes2);
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
  } 