/*Display*/
.display{
    display:inline;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 1rem;
}

.texto{
    display:list-item;
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 10rem;
}

/*titulo*/
h1{
    text-align: center;
    color: #000000;
    font-size: 40px;
    margin-top: 20px;

}

/*Animacion de interfas*/
.interfase-usuarios{
    display: flex;
    width: 600px;
    height  : 450px;
}

.interfase-usuarios img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.interfase-usuarios img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}