@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    /*Variables de colores*/
    --fondo1: #fffffffe;
    --fondo2: #cbcbcbca;
    --fondo3: #5a5a5a;

    /*Textos*/
    --fondoPublicacion: #e7e7e7bd;
    --fondoTexto: #d4d3d3;
    --IluminacionComentarios1: #c2c2c2;
    --IluminacionComentarios2: hsl(0, 0%, 0%);

    /*Variables de tipografias*/
    --tipografias1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  

body{
    background-color: rgb(255, 255, 246);
}

.header{
    width: 100%;
    height: 60px;
    position: fixed;
    margin-bottom: -10px;
    top: 0;
    left: 0;
    background-color: #50727B;
    border-radius: 10px;
    z-index: 100;
}

.header .container .menu .search-box {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}



.container .btn-menu label{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.logo{
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
}

.container .menu{
    /* float: right; */
    margin-left: 920px;
    display: flex;
    line-height: 70px;
    /* position: absolute; */
}

.menu{
    margin-left: 10px;
    color: white;
    /* z-index: 2; */
}

.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    /* color: black; */
    /* z-index: 2; */
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}

.container-menu{
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.carrusel-contenido{
    justify-content: center;
    /* border-radius: 100px; */
}

/* .carrusel-content{
    border-radius: 100%;
} */

.carrusel{
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    /* border-radius: 100px; */
}

.nav-item{
    list-style-type: none;
}



.dropdown-menu{
    position: absolute;
    /* color: white; */
}

.titulo{
    font-size: 60px;
    text-align: center;
}

.pendejada{
    text-align: end;
    margin-top: 15px;
    margin-bottom: -10px;
}

.text-carrusel{
    /* color: #50727B; */
    font-size: 100px;
    top: 50%;
    /* margin-top: 430px;; */
}

.text-outline {
    -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente */
    -webkit-text-stroke: 1px black; /* Agrega un contorno de 1px al texto */
    background-clip: text; /* Hace que el fondo solo se muestre donde esté el texto */
    -webkit-background-clip: text; /* Para navegadores webkit (Chrome, Safari) */
}