.menu{
    display: flex;
    justify-content: center;
}
.Sub-menu2{
    display: flex;
    justify-content:center ;
    background-color: var(--fondo2);
    border: 0.5px groove rgba(0, 0, 0, 0.377);;
    border-radius: 20px;
    transition: all .3s;
    width: 1000px;/*Ancho de submenu*/
    height: auto;/*Largo adaptable*/
}

/*Publicacion contenido-------------------------------*/
.Publicacion{
    padding: 3rem;
    display: grid;
}
.Encabezados{
    display: grid;
    padding: 0rem 3rem 0rem 3rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--fondoPublicacion);
}

.Nombre{
    /*     Arriba derecha abajo izquierda*/
    padding: 1rem 0rem 0rem 3rem; /*Separaciones entre los titulos*/
    font-style: italic;
}
.Fecha{
    padding: 0rem 3rem 1rem 3rem;
    font-size: 1rem;
    font-weight: lighter;
    text-align: right;

}
.TituloPublicacion{
    padding: 1rem 3rem 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.TituloSubtitulo{
    padding: 0rem 3rem 1rem 3rem;
    font-size: 1.5rem;
    font-weight:lighter;
    text-align: center;
}

.ImagenPublicacion{
    display: flex;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: center;
    /*border-radius: 1rem 1rem 0 0*/
    background-color: var(--fondoPublicacion);

}

.Publicacion img{
    width: 800px;/*Renderizado de imagenes*/
    height: 500px;
    border-radius: 8px;
}
/*Texto publicaion*/
.TextoP{
    padding: 1rem 3rem 3rem 3rem;
    display: grid;
    border-radius: 0 0 1rem 1rem; /*Bordes redondeados*/
    justify-content: center;
    background-color: var(--fondoPublicacion);

}
.TextoPublicacion{
    width: 50rem;
    background-color: var(--fondoTexto);
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    justify-content: center;
    /*background-color: var(--fondoPublicacion);*/
}

/* INPUTS */

.LetrasInput{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    resize: none; /* No se puede redimensionar */
    overflow-y: hidden;
}

.IntTitulo{
    padding-top: 8px;
    resize: none; /* No se puede redimensionar */
    width: 800px; /* Ancho del input */
    height: auto; /* Alto del input */
    font-size: 26px;
    text-align: center;
}

.IntSubtitulo{
    padding-top: 8px;
    resize: none; /* No se puede redimensionar */
    width: 600px; /* Ancho del input */
    height: auto; /* Alto del input */
    font-size: 20px;
    text-align: center;
}

.Descripcion{
    padding-top: 8px;
    resize: none; /* No se puede redimensionar */
    width: 800px; /* Ancho del input */
    height: auto; /* Alto del input */
}